<section class="painel">
  
  <section class="texto">
    <h4>Pontos Selecionados</h4>
    <div class="campo">
      <p><span class="pin">📍</span>Ponto A: {{pontoA}}</p>
    </div>
    <div class="campo">
      <p><span class="pin">📍</span>Ponto B: {{pontoB}}</p>
    </div>
  </section>
  
  <section class="texto">
  <h4>Distância Calculada</h4>
  <p class="resultado">{{resultado}}</p>
  </section>

  @if(mensagem != "") {
    <section class="texto msg">
      <p>{{mensagem}}</p>
    </section>
  }

  <button class="btn limpar" (click)="resetarTudo()">Limpar</button>
  
  <button class="btn" (click)="calcularDistancias()">Calcular distâncias</button>
  

</section>
