app-layout {
  height: 100%;
  
}

.layout {
  display: grid;
  grid-template-columns: 20px repeat(8, 1fr) 20px;
  grid-template-rows: 20px repeat(8, 1fr) 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  padding: 30px;
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

.painelSuperior {
  grid-area: 1 / 1 / 3 / 12;
  background-color: rgb(37, 98, 228);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* sombra */
  margin: 0px;
  margin-bottom: 15px;
}

.painelSuperior h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #e7e1e1;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

main {
  grid-area: 3 / 2 / 10 / 10;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  height: 100%;
  min-height: 0;
}

app-mapa {
  grid-area: 1 / 1 / 9 / 6;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* sombra */
  border-radius: 8px; /* opcional */
  overflow: hidden;
}

app-medidor {
  grid-area: 1 / 6 / 9 / 9;
  height: 80%;
  width: 80%;
  background: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* sombra */
  border-radius: 8px; /* opcional */
  margin-top: 10%;
  margin-left: 10%;
}

